html {
    position: relative;
    min-height: 100%;
}


body {

background-color: #040f16;
color: #9da2ab;
}
a {

    color: #0094c6;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    /* font-size: 1.2em; */
}